
.diferenciais {
    position: relative;
    display: flex;
    align-items: center;
    width: 80vw;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
}

.conteinerDiferenciais{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 300px;
    border-radius: 20px;
    align-items: center;
    background-color: var(--cor5);
    margin-bottom: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.pDiferenciais{
    text-align: center;
    margin-top: 15px;
    width: 90%;
}