
.animacaoEclipse {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 100vh;
    background-image: url("/sky.png");
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .animacaoEclipse {
        height: 80vh; 
        background-position: 42% 3%;
    }
}

.textoIncial {
    position: absolute;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 20%;
}

.titulo {
    font-size: 70px;
    color: var(--cor5);
    padding-top: 10px;
}

@media (max-width: 768px) {
    .titulo {
        font-size: 40px; 
    }
}

.subtitulo {
    font-size: 30px;
}

@media (max-width: 768px) {
    .subtitulo {
        font-size: 20px; 
    }
}
