
.animacaoEclipse {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 100vh;
    background-image: url("/sky.png");
    background-repeat: no-repeat;
}

.lua {
    display: none;
}

@media (max-width: 768px) {
    .lua {
        display: flex;
        position: relative;
        z-index: 0;
        width: 350px;
        align-self: flex-start;
        transform: translate(20%, 0%);
    }
}

.sol {
    display: none;
}

@media (max-width: 768px) {
    .sol {
        display: flex;
        position: relative;
        width: 900px;
        align-self: flex-end;
        transform: translate(20%, 30%);
    }
}


@media (max-width: 768px) {
    .animacaoEclipse {
        height: 80vh; 
        background-position: 42% 3%;
    }
}

.textoIncial {
    position: absolute;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 20%;
}

.titulo {
    font-size: 70px;
    color: var(--cor5);
    padding-top: 10px;
}

@media (max-width: 768px) {
    .titulo {
        font-size: 55px; 
        text-align: center;
    }
}

.subtitulo {
    font-size: 30px;
}

@media (max-width: 768px) {
    .subtitulo {
        font-size: 15px;
        text-align: center;
    }
}
