
.empresa {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin-top: 20px;
}

.conteinerEmpresa{
    position: relative;
    display: flex;
    width: 100%;
    height: 480px;
    border-radius: 20px;
    align-items: center;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .conteinerEmpresa {
        height: 450px;
    }
}

.deslizante {
    position: relative;
    display: flex;
    height: 100%;
}

.slide{
    position: relative;
    display: flex;
    width: 80vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .slide {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        width: 80vw;
    }
}

.slide.quatro{
    background-image: url(/public/empresaSlide3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px) {
    .slide.quatro {
        background-image: none;
    }
}


.imgEmpresa{
    position: relative;
    display: flex;
    border-radius: 20px;
    width: 30%;
}

@media (max-width: 768px) {
    .imgEmpresa {
        width: 60vw;
        margin-bottom: 25px;
    }
}

.pEmpresa {
    font-family: 'font0';
    color: var(--cor1);
    font-size: 22px;
    width: 50%;
    margin-left: 30px;
    text-shadow: 1px 1px 1px var(--cor4);
}

@media (max-width: 768px) {
    .pEmpresa {
        width: 80%;
        font-size: 16px
    }
}

.destaque {
    color: var(--cor5);
}

.botoesEmpresa{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .botoesEmpresa {
        width: 50%;
        margin-top: 25px;
    }
}

.botaoEmpresa {
    position: relative;
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0);  
    border: 2px solid var(--cor5);
    border-radius: 50%;
}