
.empresa {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin-top: 20px;
}

.conteinerEmpresa{
    position: relative;
    display: flex;
    width: 100%;
    height: 480px;
    border-radius: 20px;
    align-items: center;
    overflow-x: hidden;
}

.deslizante {
    position: relative;
    display: flex;
    height: 100%;
}

.slide{
    position: relative;
    display: flex;
    width: 80vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.slide.tres{
    background-image: url(/public/empresaSlide3.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.slide.quatro{
    background-image: url(/public/empresaSlide4.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.imgEmpresa{
    position: relative;
    display: flex;
    border-radius: 20px;
    width: 30%;
}

.pEmpresa {
    font-family: 'font0';
    color: var(--cor0);
    font-size: 22px;
    width: 50%;
    margin-left: 30px;
    text-shadow: 1px 1px 1px var(--cor4);
}

.destaque {
    color: var(--cor5);
}

.botoesEmpresa{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    margin-top: 10px;
}

.botaoEmpresa {
    position: relative;
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0);  
    border: 2px solid var(--cor5);
    border-radius: 50%;
}