
header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
    z-index: 3;
    transition: .4s;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .header {
        justify-content: center; 
    }
}

.header.scroll {
    background-color: var(--cor3); /* fazer aparecer dps do scroll */
    transition: .4s;
}

.logo{
    position: relative;
    width: 150px;
    margin: 10px 0px 0px 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .logo {
        display: none; 
    }
}

ul {
    position: relative;
    display: flex;
    gap: 20px;
}

li {
    position: relative;
    cursor: pointer;    
    list-style: none;
    color: var(--cor5);
    font-size: 2vh;
    font-family: 'font0';
}

li:hover {
    color: var(--cor0);
    transition: .4s;
}