
.mapa{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

@media (max-width: 768px) {
    .mapa {
        width: 350px;
    }
}

.map {
    height: 400px;
    width: 100%;
}

@media (max-width: 768px) {
    .map {
        margin-bottom: 25px;
        height: 350px;
        width: 350px;
    }
}