
.valores {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin-top: 20px;

    background-image: url(/public/sky2.png);
    background-repeat: no-repeat;
    background-size: 1900px;
    background-attachment: fixed;

    margin-bottom: 200px;
}

.conteinerValores{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    align-items: center;
    border-radius: 50px;
    background-color: rgba(255, 228, 196, 0.08);
}
